*{
    box-sizing: border-box;

}

body{
    font-family: Pasifico, Monotype Corsiva, French Script MT,Lucida CalligraphyLucida ;
    margin: 15px 30px;
    font-size: 17px;
    padding: 8px;
}

.container{
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgray;
    border-radius: 4px;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="date"],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
}

fieldset{
    background-color: #fff;
    border: 1px solid #ccc;
}

.main_heading{
    text-align: center;
}

input[type="submit"] {
    background-color: rgb(0, 177, 153);
    color: white;
    padding: 12px, 20px;
    border:chartreuse;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    height: 40px;
}

input[type="submit"]:hover{
    background-color:rgb(20, 220, 160);
}

@media screen and(width: 600px) {
    body {
        color: rebeccapurple;
    }
}